.loader {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
}

.container {
  display: flex;
}

.table-container {
  width: 50%;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px 12px;
}